<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>食事提案アプリ</title>
  <style>
  </style>
</head>
<body>
  <button class="edit-button">
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png" alt="User Icon">
     <% if user_signed_in? %>
      <%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %>
    <% end %>
  </button>
  <div class="container">
    <h1>TABETAIを見つけよう！</h1>
    <button class="search-button">🔍 Search Food</button>
  </div>
</body>
</html>
